/* Globals */
h1, h2, h3, h4 {
  font-family: 'Sarabun', sans-serif;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 15px;
}

p {
  font-family: 'Sarabun', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

/* Navigation Styles */
nav {
  background-color: slategray;
  margin:
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
}
nav ul li a:hover {
  color: black;
}

.flex-wrapper {
  display: flex;
  margin-top: 0px;
  
}
.flex-left {
  margin-right: auto;
  padding: 15px;
  margin-top: 0px;
}

.flex-right {
  padding: 15px;  
}

/* Banner Styling */
#banner {
  border: 3px solid black;
  border-radius: 10px;
  margin: 1.5em 0em 1.5em 0em;
  background-color: #484c51;
  color: white;
}

/* Main Content */
body {
  background-color: #98a5ba;
}

#content {
  margin: auto;
  padding: 10px;
  color: white;
}

/* Footer Styling */
footer {
  background-color: slategray;
  margin: 0px 0px;
  padding: 10px;
}
