@media only screen and (min-width: 900px) and (max-width:1920px) {
#about,#portfolio,#contact {
  margin: auto;
  width: 60%;
}
}

/* Globals */
html, body {
  height:100%;
  margin:0;
  padding:0;
}

.big-heading {
  font-family: 'Sarabun', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.norm-heading {
  font-family: 'Sarabun', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

p {
  font-family: 'Sarabun', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.responsive {
  margin: auto;
  max-width: 100%;
}
i {
  margin-right: 25px;
}

/* Navigation Styles */
.logo {
    width: 70px;
}

nav {
  background-color: #242728;
  margin: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 3em;
}
nav ul li a:hover {
  color: #1990b7;
}

.flex-wrapper {
  display: flex;
  margin-top: 0px;

}
.flex-left {
  margin-right: auto;
  padding: 15px;
  margin-top: 0px;
}

.flex-right {
  padding: 15px;
}

#dropdown {
  color: white;
}
#dropdown:hover {
  color: #1990b7;
}

/* Banner Styling */
#banner {
  margin: -15px 0em 1.5em 0em;
  height: 95vh;
  background-color: #1990b7;
  /*background-image: url("./assets/westTex-xl.jpg");*/
  color: white;
}

#banner-content {
  padding:40vh 15px;
}

#banner-content h1{
  font-family: 'Comfortaa', sans-serif;
  font-size: 50px;
  text-align: center;
}

#banner-content p{
  font-family: 'Comfortaa', sans-serif;
  font-size: 30px;
}

/* About Content */
#about-wrapper{
  border-top: 15px solid black;
  margin-top: -30px;
}

#about {
  padding: 15px;
  color: #242728;
  background-color: white;
}

#about p,h2,h3,h4,h5 {
  margin: 0;
  padding: 10px;
}

/* Portfolio Content */
#portfolio-wrapper {
  color: white;
  background-color: #1990b7;
  padding:15px;
}

/* Contact Content */
#contact-wrapper {
  color: white;
  background-color: #242728;
  padding: 15px;
}


/* Footer Styling */
footer {
  background-color: #242728;
  color: white;
  margin: 0px 0px;
  padding: 10px;
}
